
body {
	padding-top: 35px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:12pt;
	color: #646464;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Source Sans Pro';
}

.nischel {
	background:url("/images/nischel.jpg") center center no-repeat;
	background-size:cover;
	height:350px;
	padding-top:30px;
	position: relative;
}

.nischel-quelle {
	bottom:10px;
	right:10px;
	display:inline;
	background-color:rgba(255,255,255,0.6);
	position:absolute;
}
.nischel-quelle a {
	color: gray;
}

.nischel h1 {
	position: absolute;
	background-color: rgba(255,255,255,0.6);
	color: black;
	padding: 10px 25px 10px 15px;
	bottom: 10px;
	left: 0;
	margin: 0;
}

.highlight-red {
	color:white;
	font-family: 'Source Code Pro';
	background-color:#CE5A4E;
	font-size:12pt;
	padding:5px 10px;
	display:block;
}

.member_wrapper {
	font-size:16px;
	line-height:26px;
	text-align:left;
	padding:10px;
	background-color:#EDEDED;
}

.member-avatar {
	margin-right:20px;
	width:80px;
	height:80px;
}

.member-info {
}

.project-image {
	margin-bottom:28px;
}
.project-links {
	margin-bottom:26px;
}
.project-collaborators-list {
	margin-top:18px;
}

.project_wrapper {
	font-size:16px;
	line-height:26px;
	text-align:left;
	padding:10px;
	background-color:#EDEDED;
}

.member_wrapper, .project_wrapper {
	margin-bottom:15px;
}

.post img {
  max-width: 100%;
}
