
body {
	padding-top: 35px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:12pt;
}

@media screen and (min-width: 1200px) {
	.nischel {
		background:url("/images/nischel.jpg") center center no-repeat;
		height:350px;
		background-size:100% auto;
		padding-top:30px;
		position: relative;
	}
}

@media screen and (max-width: 1200px) {
	.nischel {
		background:url("/images/nischel.jpg") center center no-repeat;
		height:350px;
		padding-top:30px;
		position: relative;
	}
}

.nischel-quelle {
	bottom:10px;
	left:10px;
	display:inline;
	background-color:white;
	position:absolute;
}

.highlight-red {
	color:white;
	font-family: 'Source Code Pro';
	background-color:#FF5449;
	font-size:12pt;
	padding:1px 10px 1px 10px;
	display:block;
}
.members {
	line-height:26px;
	font-size:16px;
}
.members .member {
	margin-bottom:26px;
	min-width:33%;
	display:block;
	float:left;
}
.members .member-avatar {
	margin-right:20px;
	width:80px;
	height:80px;
}

.project-image {
	margin-bottom:28px;
}
.project-links {
	margin-bottom:26px;
}
.project-collaborators-list {
	margin-top:18px;
}

.project_wrapper {
	font-size:16px;
	line-height:26px;
	text-align:left;
	padding:10px;
	margin:0px 15px 0 15px;
	background-color:#EDEDED;
}