---
layout: default
#title: OK Lab Chemnitz
plunder: false
libs:
  - packery
---


<div id="theaterwecker"></div>

<div class="row">
	<div class="container well" style="margin-top:30px;border-radius:0;">
		<div class="col-md-4">
			<img src="/images/project/chemhack.svg" style="width:100%;" class="img-responsive">
		</div>
		<div class="col-md-8">
			<h2>Chemnitz hackt!</h2>
			<p class="lead">Am 28. und 29. Oktober 2017</p>
			<p class="lead">Der Hackathon in Chemnitz rund um Open Data.</p>
			<p>
					Bei «Chemnitz Hackt» laden wir Entwicklerinnen und Bastler, Vordenker und Kreative dazu ein, 
					in 24h Ideen zu entwickeln, Hardware-Prototypen zu basteln oder Apps zu entwickeln. 
					Dabei soll es rund um offene Daten gehen und wie diese aufbereitet, kombiniert, erfasst 
					oder genutzt werden können. Eurer Kreativität sollen keine Grenzen gesetzt sein - ob es 
					ein kleines Spiel für Zwischendurch oder eine nützliche App für den Alltag wird. Ziel ist
					es zusammen in einem Team eine Idee zu einem Prototypen zu verwirklichen und anschließend 
					allen Teilnehmern und einer Jury vorzustellen.
			</p>
			<p class="lead">Alle weiteren Informationen findest du auf  <a href="http://chemnitzhackt.de">chemnitzhackt.de</a>.</p>
			<p>Euer Orga Team -- <a href="/member/">Ronny, Tobi und Morris</a></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="container well" style="margin-top:30px;border-radius:0;">
		<h2>Unterstützung und Begleitung von Softwareprojekten gemeinnütziger Chemnitzer Vereine</h2>
		<p class="lead">
			Wir selbst bauen viel lieber Software und Webseiten, als dass wir uns täglich in neue Aufgaben der Pressearbeit stürzen. Vereine, Interessengruppen oder Initiativen beschäftigen sich mit Problemen aus der realen Welt, welche wir meistens gar nicht wahr nehmen. Sie leisten Arbeit mit den Bürgern, von Bürgern, für Bürger. Deshalb wollen wir als "Code for Chemnitz" anbieten, zusammen mit euch Apps oder Webseiten umzusetzen, die eure Arbeit erleichtern und somit uns allen nützen.</p>
		<p class="text-center">
			<a class="btn btn-primary btn-lg button-frontpage" href="mailto:&#099;&#111;&#100;&#101;&#102;&#111;&#114;&#099;&#104;&#101;&#109;&#110;&#105;&#116;&#122;&#064;&#108;&#105;&#115;&#116;&#115;&#046;&#111;&#107;&#102;&#110;&#046;&#111;&#114;&#103;?subject=Unterstützung%20bei%20Software%20Projekt%20gesucht">Euer Verein hat eine Idee? Schreibt uns!</a>
		</p>
	</div>
</div>

<div class="row">
	<div class="container" style="margin-top:30px;">
		<h2>Wer wir sind und was wir tun</h2>
		<p class="lead">
			Wir sind Web-Entwickler und treffen uns, um gemeinsam an Projekten zu arbeiten, die die öffentlichen Daten der Stadt Chemnitz für alle zugänglicher aufbereitet und mit einem Mehrwert versieht.
		</p>
		<p class="lead">
			Die Open Knowledge Foundation hat unter dem bundesweiten Projekt Code for Germany dazu aufgerufen lokale Gruppen von interessierten Menschen zu gründen.
		</p>
		<p class="lead">
			Kommt vorbei und lasst uns coole Projekte verwirklichen.
		</p>
		<p class="text-center">
			<a class="btn btn-default button-frontpage" href="http://codefor.de/">Weitere Informationen zu Code for Germany</a>
		</p>
	</div>
</div>

{% include plunder.html %}

<div class="row">
	<div class="container">
		<div class="page-header"><h1>Unsere Projekte</h1></div>
		{% include projects.html %}
	</div>
</div>
