---
layout: default
#title: OK Lab Chemnitz
plunder: false
---
<div class="row">
	<div class="container" style="margin-top:30px;">
		<p class="lead">Wir wollen uns treffen, um gemeinsam an Projekten zu arbeiten, die die öffentlichen Daten der Stadt Chemnitz für alle zugänglicher aufbereitet und mit einem Mehrwert versieht.
		<br/><br/>
		Die Open Knowledge Foundation hat unter dem bundesweiten Projekt Code for Germany dazu aufgerufen lokale Gruppen von interessierten Menschen zu gründen.
		<br/><br/>
		Kommt vorbei und lasst uns coole Projekte verwirklichen.</p>
		<p class="text-centered"><a href="http://codefor.de/">Weitere Informationen zu Code for Germany</a></p>
	</div>
</div>

{% include plunder.html %}

<div class="row">
	<div class="container">
		<div class="page-header"><h1>Unsere Projekte</h1></div>
		{% include projects.html %}
	</div>
</div>
