<div class="container nischel hidden-xs">
	<div class="row">
		<div class="col-sm-3 col-sm-offset-8">
			<img src="/images/CFG_Logo.svg" alt="Code for Chemnitz" title="Code for Chemnitz" class="img-responsive" style="background-color:white" />
			<h4 class="highlight-red"> Code a difference: Nutz' deine Fähigkeiten um unsere Stadt <strong>Chemnitz</strong> zu verbessern!</h4>
		</div>
	</div>
	<small class="nischel-quelle"><a href="https://creativecommons.org/licenses/by-nc/2.0/">cc-by-nc</a> <a href="https://www.flickr.com/photos/wurstbrot/3785247813/">https://www.flickr.com/photos/wurstbrot/3785247813/</a></small>
</div>

