<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-5"><img src="/images/CFG_Logo.svg" alt="Code vor Chemnitz" title="Code vor Chemnitz" class="img-responsive" width="100%"/></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10"><h5 class="highlight-red"> Code a difference: Nutz' deine Fähigkeiten um unsere Stadt <strong>Chemnitz</strong> zu verbessern!</h5></div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
