		<div class="row">
			<div class="col-md-6">
				<h3>Neuigkeiten</h3>
				<p>
					<ul class="list-unstyled">
						{% for post in site.categories.news %}
							<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				</p>
			</div>
			<div class="col-md-6">
				<h3>Nächste Treffen</h3>
				<ul class="list-group">
					{% for event in site.data.treffen %}
					<li class="list-group-item">
						{% if event.day %}
						<p>Termin: <strong>{{event.day}}, {{event.day-nr}}. {{event.month}}</strong></p>
						<p>Uhrzeit: <strong>{{event.time}}</strong></p>
						{% endif %}
						{% if event.location %}
						<p>Ort: <strong>{{event.location}}</strong></p>
						{% endif %}
						{% if event.more %}
						<p><em>{{event.more}}</em></p>
						{% endif %}
					</li>
					{% else %}
					<li class="list-group-item">
						Aktuell gibt es keinen genauen Termin. Dieser wird noch bekannt gegeben.
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
