<div class="project_wrapper">
  {% if post.imgname %}
  <a href="{{ post.website }}"><img src="/images/project/{{ post.imgname }}" alt="Project Image" class="project-image img-responsive"></a>
  {% endif %}
  <h4><a href="{{ post.website }}">{{ post.title }}</a></h4>
  <p>{{ post.content | remove: '<p>' | remove: '</p>' }}</p>
  <ul class="list-unstyled project-links" >
    {% for link in post.links %}
    <li>
      <a href="{{ link.url }}">{{ link.name }}</a>
    </li>
    {% endfor %}
  </ul>

  {% if post.colaborators %}
      <span>Mitwirkende:</span>
  {% endif %}

  <ul class="list-unstyled project-collaborators-list" >
    {% for colaborator in post.colaborators %}
    <li>
      <strong>{{ colaborator.name }}</strong>

      {% if colaborator.links %}
      ({% for link in colaborator.links %}<a href="{{ link.url }}">{{ link.url-name }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %})
      {% endif %}

    </li>
    {% endfor %}

  </ul>
</div>
