@import url('http://fonts.googleapis.com/css?family=Titillium+Web:300');

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

#map {
	width: 100%;
	height: 600px;
}

h1, h2, p {
	margin: auto;
	max-width: 700px;
	padding: 10px 15px;
}

a {
	color: #0078A8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

dt {
	font-weight: bold;
}

dd {
	padding-left: 20px;
	-webkit-margin-start: 0;
}
