<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">

		<script src="/assets/jquery/js/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" href="/assets/bootstrap-simplex/bootstrap.min.css"-->
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="alternate" type="application/atom+xml" title="Atom feed" href="/feed.atom" />

		{% for lib in page.libs %}
			{% if lib == "underscore" %}
				<script src="{{ site.baseurl }}/assets/underscore/underscore-min.js"></script>
			{% endif %}
		  {% if lib == "chartjs" %}
		    <script src="{{ site.baseurl }}/assets/chartjs/Chart.min.js"></script>
		  {% endif %}
		  {% if lib == "mermaid" %}
		    <script src="{{ site.baseurl }}/assets/mermaid/mermaid.min.js"></script>
				<script>window.onload = function() { mermaid.initialize({startOnLoad:true}); };</script>
		    <link rel='stylesheet' id='mermaid-css'  href='{{ site.baseurl }}/css/mermaid.css' type='text/css' media='all' />
		  {% endif %}
		  {% if lib == "viewer" %}
		    <script src="{{ site.baseurl }}/assets/viewer/viewer.min.js"></script>
        <script>$( document ).ready(function() { $('.images').viewer(); });</script>
		    <link rel="stylesheet" id="viewer-css"  href="{{ site.baseurl }}/assets/viewer/viewer.min.css" type="text/css" media="all" />
		  {% endif %}
      {% if lib == "packery" %}
		    <script src="{{ site.baseurl }}/assets/packery/packery.pkgd.min.js"></script>
        <script>
          $( document ).ready(function() {
            var $grid = $('.grid').packery({
              // options
              itemSelector: '.grid-item',
              percentPosition: true
            });
            /* fix layout on page load */
            setTimeout(function(){ $grid.packery('shiftLayout'); }, 500);
          });
        </script>
		  {% endif %}
		{% endfor %}

		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/fonts.css">

	</head>
	<body>
	{% include nav.html %}
	{% include header.html %}
	<div class="container">
		{{content}}
	</div>

	<div class="container">
	<hr/>
	{% if page.plunder == null or page.plunder == true %}
		<div class="container">
		{% include plunder.html %}
		</div>
		<hr/>
	{% endif %}
	{% include footer.html %}
	</div>
	</body>
</html>
