<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width">

		{% comment %}<script src="/vendor/jquery/js/jquery-1.11.0.min.js"></script>{% endcomment %}
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/vendor/bootstrap-simplex/bootstrap.min.css">
		{% comment %}<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>{% endcomment %}

		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
		<link rel="alternate" type="application/atom+xml" title="Atom feed" href="/feed.atom" />

		{% for lib in page.libs %}
			{% if lib == "underscore" %}
				<script src="{{ site.baseurl }}/vendor/underscore/underscore-min.js"></script>
			{% endif %}
		  {% if lib == "chartjs" %}
		    <script src="{{ site.baseurl }}/vendor/chartjs/Chart.min.js"></script>
		  {% endif %}
		  {% if lib == "mermaid" %}
		    <script src="{{ site.baseurl }}/vendor/mermaid/mermaid.min.js"></script>
				<script>window.onload = function() { mermaid.initialize({startOnLoad:true}); };</script>
		    <link rel='stylesheet' id='mermaid-css'  href='{{ site.baseurl }}/css/mermaid.css' type='text/css' media='all' />
		  {% endif %}
		  {% if lib == "viewer" %}
		    <script src="{{ site.baseurl }}/vendor/jquery/js/jquery-1.11.0.min.js"></script>
		    <script src="{{ site.baseurl }}/vendor/viewer/viewer.min.js"></script>
        <script>$( document ).ready(function() { $('.images').viewer(); });</script>
		    <link rel="stylesheet" id="viewer-css"  href="{{ site.baseurl }}/vendor/viewer/viewer.min.css" type="text/css" media="all" />
		  {% endif %}
      {% if lib == "packery" %}
        <script src="{{ site.baseurl }}/vendor/jquery/js/jquery-1.11.0.min.js"></script>
		    <script src="{{ site.baseurl }}/vendor/packery/packery.pkgd.min.js"></script>
        <script>
          $( document ).ready(function() {
            var $grid = $('.grid').packery({
              // options
              itemSelector: '.grid-item',
              percentPosition: true
            });
            /* fix layout on page load */
            setTimeout(function(){ $grid.packery('shiftLayout'); }, 500);
          });
        </script>
		  {% endif %}
		{% endfor %}

		<link rel="stylesheet" href="/css/main.css">

	</head>
	<body>
	{% include nav.html %}
	{% include header.html %}
	<div class="container">
		{{content}}
	</div>

	<div class="container">
	<hr/>
	{% if page.plunder == null or page.plunder == true %}
		<div class="container">
		{% include plunder.html %}
		</div>
		<hr/>
	{% endif %}
	{% include footer.html %}
	</div>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-50595122-1', 'codeforchemnitz.de');
		ga('send', 'pageview');
	</script>
	</body>
</html>
